#header {
    background-color: #1b1b1d;
    color: white;
    margin-bottom: 1.5rem;
    padding: 0.8rem 0;
}

#input-section {
    margin-bottom: 1.5rem;

    .input-group {
        border: 1px solid #1b1b1d;
        border-radius: 3px;
        margin-bottom: 0.92rem;

        &-append {
            width: 70px;
            .input-group-text {
                background-color: #1b1b1d;
                border: none;
                color: white;
                text-align: center;
                display: block;
                width: 100%;
            }
        }
        
        input {
            background-color: #262b31;
            border-bottom: 2px;
            border: 1px solid #1b1b1d;
            color: white;
            font-family: consolas, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1rem;
            
            &.ng-valid {
                border-color: #0743838e;
            }
            
            &.ng-invalid {
                border-color: #df4d48a4;
            }

            &.ng-untouched {
                border-color: #1b1b1d;
            }
        }
    }

    .form-group {
        height: 45px;
        
        input {
            border: 1px solid #007bff;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 600;
            padding: 0.3rem 3.5rem;
            width: 100%;

            &:disabled {
                border-color: #df4d48;
                color: #a72924;
                cursor: not-allowed;
            }
        }
    }
}

#results-section {
    .list-group {
        box-shadow: 0 0 7px 5px rgba(black, 0.3);
        
        &-extra {
            color: #007bff;
            font-size: 1rem;
            font-weight: 700;
            margin: 0.5rem 0;
            
            span {
                font-weight: 200;
            }
        }

        &-item {
            background-color: whitesmoke;
            position: relative;

            svg {
                fill: whitesmoke;
                position: absolute;
                left: 15px;
            }

            label {
                cursor: pointer;
                display: block;
                font-weight: 600;
                margin: 0;
            }

            span {
                cursor: pointer;
                font-size: 1rem;
            }

            &:hover {
                color: black;
            }

            &.active {
                background-color: #1b284b;
                border: none;
                color: white;

                label {
                    text-transform: uppercase;
                }
            }
        }
    }

    .tab-content {
        table {
            color: white;

            thead {
                tr th {
                    padding: 0.1rem 0.8rem;
                }
            }

            tbody {
                font-size: 0.95rem;

                tr td, tr th {
                    padding: 0.1rem 0.8rem;
                    border-bottom: 1px solid rgba(245, 245, 245, 0.473);
                }

                tr {
                    &:hover {
                        background-color: rgba(#1b1b1d, 0.5);
                    }
                }
            }
        }
    }
}
